/*

FDFFFE
193F59
88A146
B7A67B
A8060B


*/
.side-margin {
  margin: 0 25px;
}
.light-blue-gradient {
  background: #ffffff;
  background: linear-gradient(0deg, #ffffff 0%, #add7ff 100%);
}
.light-blue-gradient {
  background: #ffffff;
}
.bottom-blue-gradient {
  background: #add7ff;
  background: linear-gradient(0deg, #add7ff 0%, #ffffff 100%);
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.grow-hover:hover {
  transition: all 0.5s ease 0s;
  transform: scale(1.3);
}
.fade {
  opacity: 0.5;
}
.fade:hover {
  opacity: 1;
}
* {
  box-sizing: border-box;
  color: #14171A;
}
html {
  font-size: 62.5%;
}
body {
  animation: fadein 3s;
}
html,
body {
  font-family: 'Source Sans Pro', sans-serif;
}
h1,
h3 {
  font-family: 'Berkshire Swash', cursive;
}
h2,
h4,
h5 {
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.5rem;
}
h4 {
  font-size: 2.8rem;
}
p {
  font-size: 2rem;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.button-a {
  border: 3px solid white;
  color: white;
  background: #1DA1F2;
  width: 175px;
  padding: 7px;
  border-radius: 3px;
  font-size: 1.6rem;
  font-weight: bolder;
  letter-spacing: 0.15rem;
  text-align: center;
  transition: all 0.5s ease 0s;
}
.button-a:hover {
  color: #1DA1F2;
  background: white;
  border-color: #1DA1F2;
  cursor: pointer;
}
.button-b {
  border: 3px solid white;
  color: white;
  background: #E0245E;
  width: 175px;
  padding: 7px;
  border-radius: 3px;
  font-size: 1.6rem;
  font-weight: bolder;
  letter-spacing: 0.15rem;
  text-align: center;
  transition: all 0.5s ease 0s;
}
.button-b:hover {
  color: #E0245E;
  background: white;
  border-color: #E0245E;
  cursor: pointer;
}
nav .nav-bar {
  display: flex;
  justify-content: flex-end;
  padding: 15px 0;
}
nav a {
  font-size: 1.7rem;
  font-weight: 900;
  letter-spacing: 0.25rem;
  color: #14171A;
  padding: 0 30px;
}
nav a:hover {
  color: #14171A;
  text-decoration: none;
}
nav a:hover:hover {
  transition: all 0.5s ease 0s;
  transform: scale(1.3);
}
header {
  background: linear-gradient(0deg, #ffffff 0%, #add7ff 100%);
  background: #ffffff;
}
header .top-section {
  padding: 100px 25px;
  padding-left: 25%;
}
header .top-section h1 {
  color: #E0245E;
}
header .top-section .button-a {
  margin: 25px 0;
}
.home-container .heading-section {
  padding: 5px 0;
  background-color: #EEB41B;
}
.home-container .heading-section h3 {
  margin: 0 25px;
}
.home-container .intro-section {
  background: linear-gradient(0deg, #ffffff 0%, #add7ff 100%);
  background: #ffffff;
  padding-top: 25px;
  padding-bottom: 50px;
}
.home-container .intro-section p {
  margin: 0 25px;
}
.home-container .buttons-section {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.home-container .buttons-section .button-a,
.home-container .buttons-section .button-b {
  margin: 20px;
}
.home-container .project-section {
  background: linear-gradient(0deg, #ffffff 0%, #add7ff 100%);
  background: #ffffff;
  padding: 40px 0;
}
.home-container .project-section .project-content .text-screenshot {
  margin: 25px;
  display: flex;
  align-items: center;
}
.home-container .project-section .project-content .text-screenshot .left-section {
  margin: 0 25px;
}
.home-container .project-section .project-content .text-screenshot .screenshot {
  border: 2px solid black;
  padding: 125px 225px;
}
.home-container .inverted {
  display: flex;
  flex-direction: row-reverse;
}
.grow a:hover:hover {
  transition: all 0.5s ease 0s;
  transform: scale(1.3);
}
.bottom-container .theres-more {
  background: linear-gradient(0deg, #ffffff 0%, #add7ff 100%);
  background: #ffffff;
}
.bottom-container a:hover {
  transition: all 0.5s ease 0s;
  transform: scale(1.3);
}
.bottom-container a:hover:hover {
  transition: all 0.5s ease 0s;
  transform: scale(1.3);
}
