* {
	box-sizing: border-box;
	color: @woodsmoke;
}

html {
	font-size: 62.5%;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

body {
	animation: fadein 0.5s;
}

html,
body {
	font-family: 'Nunito', sans-serif;
}

h1,
h3 {
	font-family: 'Berkshire Swash', cursive;
}

h2,
h4,
h5 {
	font-family: 'Nunito', sans-serif;
}

h1 {
	font-size: 6rem;
}

h2 {
	font-size: 4rem;
	// line-height: 2rem;
}

h3 {
	font-size: 3.5rem;
}

h4 {
	font-size: 2.8rem;
}

p {
	font-size: 2rem;
}

ul {
	list-style-type: none;
}

// img {
// 	max-width: 100%;
// 	height: auto;
// }

// .container {
// 	width: 100%;
// 	margin: 0 auto;
// }

iframe {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	border: 0;
}

.button-a {
	.default-btn(@fuchsia-blue, @white);
}

.button-b {
	.default-btn(@cerise-red, @white);
}
