header {
    .light-blue-gradient;

    // nav {
    //     .nav-bar {
    //         display: flex;
    //         justify-content: flex-end;
    //         padding: 15px 0;
    //     }
    
    //     a {
    //         font-size: 1.7rem;
    //         font-weight: 900;
    //         letter-spacing: .25rem;
    //         color: @woodsmoke;
    //         padding: 0 30px;

    //         &:hover {
    //             .grow-hover;
    //             color: @woodsmoke;
    //             text-decoration: none;
    //         }
    //     }
    // }
    
    .top-section {
        padding: 100px 25px;
        padding-left: 25%;
        h1 {
            color: @cerise-red;
        }
        .button-a {
            margin: 25px 0;
        }
    }
}