header {
    border: solid red;
}

nav {
    // border: solid blue;

    .nav-bar {
        background-color: @dodger-blue;
        display: flex;
        justify-content: flex-end;
        border: solid green;
        padding: 15px 0;
    }

    a {
        font-size: 1.5rem;
        font-weight: bolder;
        color: @white;
        padding: 0 30px;
    }
}

