.home-container {

    .heading-section {
        // border: solid blue;
        padding: 5px 0;
        background-color: @buttercup;
        h3 {
            .side-margin
        }
    }

    .intro-section {
        
        padding-top: 25px;
        padding-bottom: 50px;

        p {
            .side-margin;
        }
    }

    .buttons-section {
        // border: solid orange;
        display: flex;
        justify-content: center;
        padding: 30px;

        .button-a, .button-b {
            margin: 20px;
        }
   }

    .project-section {
        // border: solid red;
        padding: 40px 0;

        .project-content {
            .text-screenshot {
                // border: solid yellow;
                margin: 25px;
                display: flex;
                align-items: center;

                .left-section {
                    // border: solid green;
                    margin: 0 25px;
                }

                .screenshot {
                    border: 2px solid black;
                    padding: 125px 225px;
                }
            }
        }
    }

    .inverted {
        display: flex;
        flex-direction: row-reverse;
    }
}