.home-container {
    // padding: 0 25px;
    .lblue-gradient;

    .heading-section {
        // border: solid blue;
        padding: 5px 0;
        background-color: @buttercup;
        h3 {
            .side-margin
        }
    }

    .intro-section {
        // .blue-gradient;
        padding-top: 25px;
        padding-bottom: 50px;

        p {
            .side-margin;
        }
    }

    .buttons-section {
        // border: solid orange;
        display: flex;
        justify-content: center;
        padding: 30px;

        .button-a, .button-b {
            margin: 20px;
        }
   }

    .project-section {
        // border: solid red;
        .lblue-gradient;
        padding: 15px 0;

        h4, p {
            .side-margin;
        }

        .project-content {

            .text-screenshot {
                // border: solid yellow;
                padding: 25px 0;
                display: flex;

                :first-child, :last-child {
                    margin: 0 15px;
                }

                .screenshot {
                    border: 2px solid black;
                    padding: 100px 175px;
                }
            }
        }
    }

    .inverted {
        display: flex;
        flex-direction: row-reverse;
    }
}