.default-btn(@background, @color) {
    border: 3px solid @color;
    color: @color;
    background: @background;
    width: 175px;
    padding: 7px;
    border-radius: 3px;
    font-size: 1.4rem;
    font-weight: bolder;
    text-align: center;

    &:hover {
      color: @background;
      background: @color;
      border-color: @background;
      cursor: pointer;
    }
  }

.side-margin{
    margin: 0 25px;
}

.blue-gradient {
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(29,161,242,1) 100%);
}

.blue-gradient {
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(29,161,242,1) 100%);
}

.blue-gradient {
    background: rgb(147,214,255);
    background: linear-gradient(0deg, rgba(147,214,255,1) 0%, rgba(29,161,242,1) 100%);
}

.yellow-gradient {
    background: rgb(255,214,107);
background: linear-gradient(0deg, rgba(255,214,107,1) 0%, rgba(238,180,27,1) 100%);
}